{% extends "./base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="content-section offset-md-3">
        <form method="post">
         {% csrf_token %}
            <fieldset class="form-group  col-md-8 mt-5">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
                <div>
                    <button type="submit">Login</button>
                    <small>Need an account? <a style="text-decoration: none" href={% url 'register' %}>Sign Up</a> </small>
                </div>
            </fieldset>
        </form>
</div>
{% endblock content %}